

/*
* {
  border: solid black 1px!important;
}
*/
test {
  opacity: .5;  
  animate: ease-in 2sec;
}

.calendar {
  max-width: 960px;
/*
  background-color: floralwhite;
*/
   width: 100%;
  font-size: 100%;
  font-family: Verdana,Arial,sans-serif;
  margin: 0 auto;
}

.calendar h1 {
  font-size:3rem; 
  text-align: center;
}

.calendar h2, .calendar p {
  margin-left: 10%;
  font-family: sans-serif;
  font-size: 2.5rem;
}

.calendar p{
  font-size:.7rem;
}

.calendar .header {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-top:10px;
}

.calendar nav {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  max-width: 960px;
}

.calendar nav ul {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

.calendar .rowYear{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 960px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calendar .year {
  min-height: 25px;
  min-width: 47px;
  text-align: center;
  line-height: 1.5rem; 
}

.calendar #year1, .calendar #year2, .calendar #month1, .calendar #month2{
  max-height: 60px;
  width:282px;
  max-width: 282px;
  min-width: 242px;
}

.calendar #month1 {
 -webkit-box-pack: end;
 -webkit-justify-content: flex-end;
 -ms-flex-pack: end;
 justify-content: flex-end;
  width:282px;
}

.calendar #month2 {
 -webkit-box-pack: start;
 -webkit-justify-content: flex-start;
 -ms-flex-pack: start;
 justify-content: flex-start; 
  width:282px;
}


.calendar nav li {
  background-color: aquamarine;
  border-radius: 30px;
}

.calendar a:focus {outline:none;}



.calendar nav li a {
  display:block;
  height: 55px;
  width: 47px;
  min-height: 47px;
  min-width: 40px;
  border-radius: 30px;
  text-align: center;
  line-height: 1.7;
  cursor: pointer;
  font-size: 1rem;
  
}

.calendar nav li a:hover,
.calendar nav li a:focus,
.calendar nav li a:active,
.calendar nav li:hover,
.calendar nav li:focus,
.calendar nav li:active {
  background-color: #facf97; 
}

.calendar nav a {
  text-decoration: none;
  color: rgba(60,49,41,1);
}

#currentYear {
  display: block;
  height: 12px;
  font-size: .6rem;
  margin-bottom: .3vw;
}

.curMonth {
  background-color: #facf97!important;
}

.monthHeader {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center;
}

div.weekdayHeading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20%;
  line-height: 1.5;
  max-height: 47px;
/*
  background-color: ivory;
*/
  width:100px;
  max-width: 100px;
  width:100%;
}

#demo {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width:100%;
  min-height: 460px;  
/*
  background-color: floralwhite;
*/

}


.week {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}


div.day, div.pday {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;  
  margin-right: 1px;
  margin-bottom: 1px;
  border-radius: 5px;
  background-color: burlywood;
  width:100%;
  height:5vw;
  min-height: 65px;
  max-height: 80px;
  margin-right: 1px;
  margin-bottom: 1px;
  max-width: 100px;
  font-size: 1rem;
}

div.pday{
 opacity:.5; 
}

div.today {
  background-color: sandybrown;
}

div.booked{
  background-color: darkgoldenrod;
}
 
div.today div.dayContainer::after {
  content: "Today";
  color: white;
  margin:5px auto;
}

.dayContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.cDate {
  text-align: center;
  margin-top: 5px;
}


section {
}


#year1 {
 -webkit-box-ordinal-group:1;
 -webkit-order:0;
 -ms-flex-order:0;
 order:0; 
}
#year2 {
 -webkit-box-ordinal-group:2;
 -webkit-order:1;
 -ms-flex-order:1;
 order:1; 
}
#month1 {
 -webkit-box-ordinal-group:3;
 -webkit-order:2;
 -ms-flex-order:2;
 order:2; 
}
#month2 {
 -webkit-box-ordinal-group:4;
 -webkit-order:3;
 -ms-flex-order:3;
 order:3; 
}


footer p{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: .8rem;  
}

@media only screen and (max-width:563px){
  
  #year1 {
   -webkit-box-ordinal-group:1;
   -webkit-order:0;
   -ms-flex-order:0;
   order:0; 
  }
  #year2 {
   -webkit-box-ordinal-group:3;
   -webkit-order:2;
   -ms-flex-order:2;
   order:2; 
  }
  #month1 {
   -webkit-box-ordinal-group:2;
   -webkit-order:1;
   -ms-flex-order:1;
   order:1; 
  }
  #month2 {
   -webkit-box-ordinal-group:4;
   -webkit-order:3;
   -ms-flex-order:3;
   order:3; 
  }
  
}



