
.wrapper{
  display:block;
  border:solid black 2px;
}

.logo{
  float:left;
  padding:40px 40px 30px 50px;
}

.logo img{
  width:150%;
}


.book-now-contact{
  float:right;
}

img{
  display:inline;
  margin:0 auto;
}

nav{
  float:left;
  margin:0 auto;
  width:100%;
  background-color: rgba(220,229,223,1);
}

ul{
  padding:0;
  margin:0;
}

li{
  display:inline;
  width:19%;
  padding:0;
  margin:0;
}

li a{
  font-family:sans-serif;
  font-weight: bold;
  font-size:1.3em;
  color: rgba(60,49,41,1);
  text-decoration: none;
  text-transform: uppercase;
  display:inline-block;
  width:19%;
  text-align: center;
  height: 53px;
  padding-top: 17px;
}

li a:hover,
li a:active,
li a:focus{
  background-color: rgba(217,210,187,1);
}


buy-line{
  
  
}

