@charset "UTF-8";
:root {
  font-size: 12px; }

@media (min-width: 480px) and (max-width: 1200px) {
  :root {
    font-size: calc( 12px + (22 - 12) * ( (100vw - 480px) / ( 1200 - 480) )); } }
@media (min-width: 1200px) {
  :root {
    font-size: 22px; } }
/* ==========================================*/
/*              SASS Variables               */
/* ==========================================*/
/* ==========================================*/
/*              End SASS Variables           */
/* ==========================================*/
/* ==========================================*/
/*              Debug                        */
/* ==========================================*/
/*
* {
   border: 1px solid red !important;
}
*/
/* ==========================================*/
/*              End Debug                    */
/* ==========================================*/
/* ==========================================*/
/*              General                      */
/* ==========================================*/
.hideThis {
  display: none; }

html {
  font: normal 400 1vw/1.5 "Open Sans", sans-serif;
  color: #3c3129;
  /*
    font-size: 100%;
    color: #404040;
    text-rendering: optimizelegibility; 
  */ }

body {
  max-width: 960px;
  margin: 0 auto; }

/* ==========================================*/
/*              Flex General                 */
/* ==========================================*/
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flexColumn {
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.flexRow {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row; }

.flexCenter {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.flexStart {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.flexSpaceAround {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.flexSpaceBetween {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

/* ==========================================*/
/*              End Flex General             */
/* ==========================================*/
/* ==========================================*/
/*              Header .banner               */
/* ==========================================*/
.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.banner > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.logo {
  padding: 4.5vw 4vw; }

.logo img {
  width: 17rem;
  min-width: 225px;
  max-width: 400px; }

.bookNowContact {
  font-size: .8rem;
  font-weight: bold;
  margin: 0 8vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.bookNow {
  margin-bottom: 1vw; }

.email {
  font-size: .8rem; }

/* ==========================================*/
/*              End Header .banner           */
/* ==========================================*/
/* ==========================================*/
/*              Nav                          */
/* ==========================================*/
.mobileMenu {
  display: none; }

.mainNav {
  background-color: #dce5df; }

.mainNav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mainNav ul > * {
  min-height: 1vw;
  width: 20%; }

.mainNav li:last-of-type {
  display: none; }

.mainNav li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: bold;
  font-size: .8rem;
  height: 3vw;
  color: #3c3129;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mainNav li a:hover
.mainNav li a:active,
.mainNav li a:focus {
  background-color: #d9d2bb; }

/* ==========================================*/
/*              End Nav                      */
/* ==========================================*/
/* ==========================================*/
/*              Hero Space                   */
/* ==========================================*/
.promo img {
  width: 100%; }

.geoTagline {
   font-size: .8rem;
  word-spacing: .1em;
  letter-spacing: .1em;
  position: relative;
  top: .5vw;
  height: 0;
  margin: 0 auto;
  width: 96%;
  text-align: center; }

.whiteImgOverText {
  font-size: 1.2rem;
  line-height: 1.6em;
  font-weight: bold;
  color: white;
  position: relative;
  top: -32vw;
  left: 8vw;
  height: 0;
  width: 75vw; }

.heroBullet::before {
  content: "•"; }

/* ==========================================*/
/*              End Hero Space               */
/* ==========================================*/
/* ==========================================*/
/*              About                        */
/* ==========================================*/
.subNav {
  width: 100%;
  font-family: normal 400 1vw/1.5 "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  height: 1.98rem;
  background-color: #dce5df;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3; }

.top img {
  height: 2.5vw;
  float: left;
  margin: 5px 0; }

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1rem;
  height: 0;
  text-transform: capitalize;
  text-decoration: none;
  color: #3c3129; }

.top a:hover,
.top:hover {
  color: #3c3129;
  text-decoration: none; }

.bgBrown {
  background-color: #d9d2bb;
  font-size: 1.2rem;
  height: 5vw;
  line-height: 4.7vw; }

section h1 {
  font-weight: bold;
  margin: 0 auto;
  padding: 0 1.8vw;
  width: 100%;
  text-align: center;
  line-height: 1.4; }

section h1:first-of-type {
  padding-top: 2vw; }

section.about p {
  line-height: 1.5;
  font-weight: 600;
  font-size: 1rem;
  padding: 2vw 2vw; }

section h1:last-of-type {
  padding-top: 2vw;
  padding-bottom: 2vw; }

.hotTub .posHotTubText {
  top: -24vw;
  left: 67%;
  width: 24vw; }

/* ==========================================*/
/*              End About                    */
/* ==========================================*/
/* ==========================================*/
/*              Facilities & Amenities       */
/* ==========================================*/
.flexRow .innerText h2 {
  font-weight: bold;
  margin: 0 2vw;
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem 1rem; }

.flexRow .innerText p {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 600;
  margin: .5rem 1rem;
  max-width: 100%; }

article.flexRow {
  margin: 0 0; }

article .innerText {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin: 1rem 0; }

article figure {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0; }

/* ==========================================*/
/*              End Facilities & Amenities   */
/* ==========================================*/
/* ==========================================*/
/*              Location                     */
/* ==========================================*/
.googlemap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 96%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }

/* ==========================================*/
/*              End Location                 */
/* ==========================================*/
.imgAbout {
  width: 100%;
  margin-top: 20px; }

figure img {
  width: 100%; }

/* ==========================================*/
/*              Availability Calendar        */
/* ==========================================*/
#calendar-legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#calendar-legend-box-booked,
#calendar-legend-box-available {
  margin-top: 1rem;
  background-color: darkgoldenrod;
  height: 60px;
  width: 5rem;
  border-radius: 5px;
  color: antiquewhite;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 2.5; }

#calendar-legend-box-available {
  background-color: burlywood;
  left: 10px;
  top: 11px; }

/* ==========================================*/
/*              End Avalability Calendar     */
/* ==========================================*/
/* ==========================================*/
/*              Rates                        */
/* ==========================================*/
.rates h2 {
  font-size: 1rem;
  font-weight: bold;
  width: 70%;
  text-align: center;
  margin: 2vw auto; }

.rates p {
  margin: 0 auto; }

.season {
  background-color: #eaeadd;
  width: 45%; }

.season .title {
  background-color: #d9d2bb; }

.season .title h2 {
  height: 2rem;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 2rem;
  font-weight: bold; }

.season .title p {
  font-size: .8rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 0 0 8px 0;
  padding: 0; }

.season h3 {
  margin: 1rem 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 600; }

.season p {
  margin: 1px 10px; }

.rateBox {
  padding-bottom: 10px; }

#contact p {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

/* ==========================================*/
/*              End Rates                    */
/* ==========================================*/
/* ==========================================*/
/*              Contact Us                   */
/* ==========================================*/
#sectionContact p {
  text-align: center;
  height: 30px;
  line-height: 1.5;
  text-align: center;
  height: 4vw;
  line-height: 1.8;
  font-size: 1.1rem; }

.preFooter {
  background-color: #d9d2bb;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footerBookNowContact {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 4vw; }

#sectionContact .footerBookNowContact p {
  text-align: left;
  line-height: 4.5;
  font-size: .8rem;
  font-weight: 600;
  height: 3vw; }

.footerLogoContainer {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footerLogoContainer .logo {
  padding: 3vw 4vw; }

.welcome {
  text-align: center;
  position: relative;
  top: -3vw;
  font-weight: 700;
  font-size: 1.5rem; }

/* ==========================================*/
/*              End Contact Us               */
/* ==========================================*/
/* ==========================================*/
/*              Footer                       */
/* ==========================================*/
footer div {
  color: antiquewhite;
  height: 33px;
  background-color: #3c3129;
  text-align: center;
  line-height: 2;
  font-size: 1.5rem; }

/* ==========================================*/
/*              End Footer                   */
/* ==========================================*/
@media only screen and (max-width: 2800px) {
  footer div {
    font-size: 1rem;
    height: 269px; } }
/* ==================== medium screens ========================== */
@media only screen and (min-width: 481px) and (max-width: 599px) {
  .mainNav ul li:first-of-type {
    width: 17%; }

  .mainNav ul li:last-of-type {
    width: 17%; }

  .mainNav li a {
    font-weight: normal;
    height: 5vw; } }
/* ==================== tiny screens ========================== */
@media only screen and (max-width: 480px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    width: 100%; }

  .banner div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }

  .banner div:first-of-type {
    margin-top: 24px; }

  .logo img {
    margin-top: 20px; }

  .email {
    margin-bottom: 7px; }

  .showThisBlock {
    position: relative;
    text-align: center; }

  .mainNav {
    display: none; }

  .top {
    display: none; }

  .menuTop {
    position: fixed;
    top: 0;
    left: 0; }

  .mobileMenu {
    display: block;
    background-color: #ffc4c4;
    text-align: center;
    font-weight: 700;
    height: 47px;
    line-height: 2.6;
    margin: 0;
    cursor: pointer;
    width: 100%;
    z-index: 30;
    font-size: 1.4rem; }

  #mainUL {
    top: 47px;
    position: fixed;
    width: 100%;
    z-index: 30; }

  #mainUL li {
    width: 100%;
    line-height: 2;
    border-top: solid white 1px;
    height: 47px;
    background-color: bisque; }

  #mainUL li a {
    width: 100%;
    line-height: 3;
    height: 47px;
    text-decoration: none;
    display: block;
    color: #3c3129;
    font-weight: 600; }

  #mainUL li a:hover {
    color: #3c3129; }

  .bgBrown {
    font-size: .8rem; }

  .hotTub .posHotTubText {
    top: -32vw;
    left: 61%;
    width: 33vw; }

  section p {
    font-size: 1.2rem;
    margin: 0 5px; }

  section h1 {
    width: 100%;
    padding-left: 0; }

  section h3 {
    line-height: 1.5;
    font-weight: 600;
    font-size: 1rem;
    padding: 2vw 2vw; }

  .flexRow .innerText {
    margin: 0; }

  .flexRow .innerText h2 {
    font-weight: bold;
    margin: 0 1rem; }

  section.about p {
    line-height: 1.5;
    font-weight: normal;
    padding: 2vw 2vw; }

  section.amenities article.flexRow {
    margin: 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: 400px; }

  section.amenities article.flexRow:nth-of-type(2) figure {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  section.amenities article.flexRow:nth-of-type(1) {
    height: 420px; }

  section.amenities article.flexRow:nth-of-type(2) {
    height: 330px;
    margin-top: 25px; }

  #private h2 {
    margin-bottom: -5rem;
    margin-top: -2rem; }

  #shared {
    margin-bottom: 3rem; }

  #shared p {
    margin-top: 1.5rem; }

  section.amenities article.flexRow:nth-of-type(3) {
    height: 450px; }

  section.amenities article.flexRow .innerText p {
    line-height: 1.4; }

  #calendar-legend-box-booked,
  #calendar-legend-box-available {
    font-size: .8rem;
    height: 34px;
    line-height: 3; }

  .calendar .header {
    width: 75% !important; }

  .calendar nav li a {
    line-height: 2 !important;
    font-size: 1.3rem !important; }

  #currentYear {
    font-size: 1rem !important; }

  .season {
    width: 47%; }

  .season p {
    margin: 1px 5px; }

  .season h3 {
    margin: 1px 3px; }

  #sectionContact .footerBookNowContact p {
    text-align: center;
    margin-bottom: 5px; }

  #sectionContact p {
    height: 7vw; }

  .preFooter {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .logo {
    margin: 0 auto; } }
@media only screen and (max-width: 320px) {
  html {
    max-width: 320px; } }
