
@charset "UTF-8";


/* ==========================================*/
/*              SASS Variables               */
/* ==========================================*/

$font-main: 400 1em/1.4 "Open Sans",sans-serif;
$menu-font-size: 1.7vw;
$bullet: "\2022";
$bgBrown: rgba(217, 210, 187, 1 );

/* ==========================================*/
/*              End SASS Variables           */
/* ==========================================*/

/* ==========================================*/
/*              Debug                        */
/* ==========================================*/

// border everything to debug all elements
/*
* {
   border: 1px solid red !important;
}
*/
/* ==========================================*/
/*              End Debug                    */
/* ==========================================*/

/* ==========================================*/
/*              General                      */
/* ==========================================*/

html{
  font-size: 100%;
  font-family: $font-main;
  color: #404040;
  text-rendering: optimizelegibility; 
}

body{
  width:100%;
}

.wrapper{
}

/* ==========================================*/
/*              Flex General                 */
/* ==========================================*/

.flex{
  display: flex; 
}

.flexColumn{
  flex-flow: column;
  align-content: stretch; // set as default for now
}

.flexRow{
  flex-flow: row;
  justify-content: stretch; // set as default for now
}

.flexCenter{
  justify-content: center;
  align-content: center;
}

.flexStart{
  justify-content:flex-start;
  align-content:flex-start;
}

.flexSpaceAround{
  justify-content: space-around;
  align-content: space-around;
}

.flexSpaceBetween{
  justify-content: space-between;
  align-content: space-between;  
}

/* ==========================================*/
/*              End Flex General             */
/* ==========================================*/


/* ==========================================*/
/*              Header .banner               */
/* ==========================================*/


.banner {
  display: flex;
  flex-flow: row;
  align-content: center;
  margin: 0 5vw;
}

.banner > div{
  display: flex;
  flex-flow: column;
}

.logo{
  padding: 4.5vw 4vw;
}

.logo img{
  width: 40vw;
}

.bookNowContact{
  font-family: $font-main;
  font-size: 2vw;
  font-weight: bold;
  margin: 0 8vw;
  margin-top:6vw;
}

.bookNow{
  margin-bottom: 1vw;
}

.email{
  font-size: 1.5vw;
}

/* ==========================================*/
/*              End Header .banner           */
/* ==========================================*/
/* ==========================================*/
/*              Nav                          */
/* ==========================================*/

  
nav{
  background-color: rgba(220,229,223,1);
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

ul >*{
  min-height: 1vw;
  width:20%;
}

li{
  width:20%;
}

/*.subNav, nav li a{*/
nav li a{
  display:block;
  font-family: $font-main;
  font-weight: bold;
  font-size: 2vw;
  height: 4vw;
  padding-top: .8vw;
  color: rgba(60,49,41,1);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

nav li a:hover,
nav li a:active,
nav li a:focus {
  background-color: rgba(217,210,187,1);
}

/* ==========================================*/
/*              End Nav                      */
/* ==========================================*/

/* ==========================================*/
/*              Hero Space                   */
/* ==========================================*/

.geoTagline{
  font-family: $font-main;
  font-size: 2vw;
  word-spacing: .1em;
  letter-spacing: .1em;
  position: relative;
  top: .8vw;
  left: 3vw;
  height: 0;
  margin: 0;
  width: 95%;

}

.whiteImgOverText{
  font-size: 3vw;
  line-height: 1.6em;
  font-weight: bold;
  color: white;
  position: relative;
  top: -40vw;
  left: 13vw;
  height:0;
  width: 75vw;
}

.heroBullet::before{  
  content: $bullet;
}

/* ==========================================*/
/*              End Hero Space               */
/* ==========================================*/

/* ==========================================*/
/*              About                        */
/* ==========================================*/

// headings for each section
.subNav{
  width: 100%;
  font-family: $font-main;
  font-weight: bold;
  font-size: 3vw;
  height: 4.5vw;
  padding-top: .5vw;
  background-color: rgba(220,229,223,1);
  text-align: center;
}

// Amazing outdoor recreation oportunities
.bgBrown{
  background-color: $bgBrown;
  font-size: 2.2vw;
  height: 4vw;
  padding-top: .8vw;
}

section h1{
  font-size: 3.7vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 1.8vw;
  width: 100%;
  text-align: center;
}

section h1:first-of-type{
  padding-top: 2vw;
}

section.about p{
  line-height: 1.6;
  font-weight: bold;
  font-size: 1.8vw;
  padding: 2vw 9vw;
}

section h1:last-of-type{
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 3vw;
}

.posHotTubText{
  top: -27vw;
  left: 69vw;
  width: 25vw;
}

#self-catered{
  font-size: 2vw; 
}

/* ==========================================*/
/*              End About                    */
/* ==========================================*/

/* ==========================================*/
/*              Facilities & Amenities       */
/* ==========================================*/

.flexRow h2{
  font-size: 2.7vw; 
  font-weight: bold;
  margin: 0 4vw;
}

#private h2{
  padding-top:6vw;
  padding-bottom:4vw;
}

.flexRow p{
  line-height: 2.3vw;
  font-size: 1.5vw; 
  font-weight: bold;
  margin-left: 4vw;
  max-width: 85%;
}

article.flexRow{
  margin: 6vw 0;
}

article .innerText{
  flex:1 1 0;
}

article figure {
  flex: 1.5 1 0;
}

/* ==========================================*/
/*              End Facilities & Amenities   */
/* ==========================================*/

/* ==========================================*/
/*              Location                     */
/* ==========================================*/


.googlemap{
  display:flex;
  height:100%;
  justify-content: center;
  margin:0 auto;
}

/* ==========================================*/
/*              End Location                 */
/* ==========================================*/
/* ==========================================*/
/*              Availability Calendar        */
/* ==========================================*/



/* ==========================================*/
/*              End Avalability Calendar     */
/* ==========================================*/
/* ==========================================*/
/*              Rates                        */
/* ==========================================*/



/* ==========================================*/
/*              End Rates                    */
/* ==========================================*/





